---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Wasim Akram &middot; Adventures</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='{{site.baseurl}}/fonts/open-sans.css'>
  <link rel='stylesheet' href='{{site.baseurl}}/app.css'>
</head>
<body>
  <div id='container'>

    <div id="header">
      <div class="navigation">
        <a href="{{site.baseurl}}" class="title">Wasim Akram &middot; Adventures</a>
      </div>
    </div>

    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      Contact me on
      <a href="http://github.com/wasimakram">Github</a>
      |
      <a href="http://github.com/_twitter">Twitter</a>
    </div>
  </div>
</body>
</html>
